BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
ColumnLimit: 128
DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Right
AlignTrailingComments: true
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
NamespaceIndentation: All
AllowShortLambdasOnASingleLine: true