[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
asyncqt = "*"
pyqt5 = "*"
dataclasses-json = "*"
aiohttp = "*"
pypika = "*"
aiosqlite = "*"
aiofile = "*"
pyee = "*"
keyring = "*"
pinject = "*"
rx = "*"
send2trash = "*"
pycryptodomex = "*"
mypy = "*"
aiosocks = "*"

[requires]
python_version = "3.7"
